on: [push, pull_request]

name: CI

jobs:
  ci:
    name: CI
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: i686-pc-windows-msvc
      - run: cargo build --release --verbose
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install
        working-directory: tools/legal
      - run: node tools/legal Cargo.lock
      - uses: actions/upload-artifact@v2
        with:
          name: inno-updater
          path: |
            target/*/release/inno_updater.exe
            Cargo.lock
            Cargo.toml
